<a href="https://colab.research.google.com/github/MWFK/Nike_Case_Assignments/blob/main/VIP_customers_Python_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import pyarrow.parquet as pq

In [4]:
df_parquet = pq.read_table('/content/transactions.parquet')
df = df_parquet.to_pandas()
print(df.shape)
df.head()

(18, 14)

,store,transaction_date,order_number,line_number,product_id,product_name,quantity,currency,recommended_retail_price_per_unit,discount_amount_per_unit,profile_id,cancellation_flag,cancellation_date,source_system
0,.com,2020-11-20,422681959244,1,720854836340997,zJnSpFriDYyNDJhwxMxD,1,NL,721,NaN,1-5151-4642-1,None,None,DIGITAL
1,.com,2020-11-20,422681959244,2,999789223355744,XVnSxtFOJUDGlfxVQauS,1,NL,71,25.0,1-5151-4642-1,None,None,DIGITAL
2,.com,2020-11-20,422681959244,3,343125809243217,XkzpDAMIbZmTvuMTmGPU,1,NL,812,NaN,1-5151-4642-1,None,None,DIGITAL
3,.com,2020-11-23,982990828489,1,451789186646625,PeSsoTndtARHiWxgEooV,1,SDG,755,NaN,1-57006-547-0,None,None,DIGITAL
4,.com,2020-11-28,560607850517,1,162643898729888,XidxwPxWZGzNaZqPosjV,1,MOP,372,NaN,1-5151-4642-1,None,None,DIGITAL